.card {
  min-width: 260px;
  max-width: 280px;
  height: 250px;
  width: 350px;
  margin: 80px 40px 10px 40px;
  background: $color-1;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  img {
    width: 35%;
    height: 35%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transform: translateY(-50%);
  }

  .number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $black;
    font-weight: bolder;
    bottom: 0;
    position: absolute;
    transform: translateX(-30%) translateY(30%);
  }

  .name {
    color: $white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
    transform: translateY(-100%) translateX(50%);
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background: rgb(75, 68, 177);
    background: linear-gradient(
      90deg,
      rgba(75, 68, 177, 1) 0%,
      rgba(125, 84, 200, 1) 100%
    );
  }
  .abilities {
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
    .ability {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      box-shadow: black 2px 5px 6px 0px inset;
      background: $color-2;

      font-size: 1rem;
      margin: 5px;
      border-radius: 5px;
      padding: 5px;
      width: auto;
      height: auto;
      text-transform: uppercase;
    }
  }
  .base-stat {
    display: flex;
    h4 {
      font-family: sans-serif;

      font-weight: 100;
    }
  }
}
