.home-container {
  h2 {
    text-align: center;
    margin: 60px;
    font-size: 40px;
    font-family: "arial" sans-serif;
  }
  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    button {
      height: 50px;
      width: 100%;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      background: $color-2;
      text-transform: uppercase;
      margin: 30px 10% 30px 10%;
      transition: 0.5s;
      border: solid 1px white;

      &:hover {
        background: white;
        color: black;
      }
    }
  }
}
