.home-container {
  h2 {
    text-align: center;
    margin: 60px;
    font-size: 40px;
    font-family: "arial" sans-serif;
  }
  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .load-more {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
  }
}
